@model IEnumerable<Travel_Blog.Model.Location>

@{ 
    ViewData["Title"] = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Locations</h2>
@if(Model.Any())
{
<ul>
    @foreach(var listLocation in Model)
    {
        <li>@Html.DisplayFor(modelLocation => listLocation.Name) <br /> @Html.ActionLink("Add Post", "Index", "Posts", new { id = listLocation.LocationId }) | @Html.ActionLink("Edit", "Edit", new { id = listLocation.LocationId }) | @Html.ActionLink("Delete", "Delete", new { id = listLocation.LocationId })</li>
    }
</ul>
}

<h3>@Html.ActionLink("Add Location", "Create")</h3>